body {
	background: blanchedAlmond;
}

#text {
	padding: 10px;
	font-family: Lucida Console;
}

.container-fluid {
	background: black;
	color: white;
}

.navbar-header {
	background: black;

}

.info {
 	font-family: verdana;
	font-size: 210%;
}

.d-block {
width: 100%;
	object-fit: fill;

}

#demo{
width: 25%;
margin: auto;
}